<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "me.toth.notocator"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Notificator</name>

    <description>
        Android notificator. 
    </description>

    <author href="https://toth.me" email="opinko@gmail.com">
        Tomas Toth 
    </author>
    <gap:plugin name="com.red_folder.phonegap.plugin.backgroundservice" version="2.0.0" />
    <gap:platform name="android" />


</widget>
